<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/appointments">Education & Appointments</a></li>
				<li><a href="/publications">Publications</a></li>  
				<li><a href="/presentations">Presentations</a></li>
				<li><a href="/teaching">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/kaizadp">github.com/kaizadp</a></li>
				</ul>
			</footer>
		</body>
	</html>
